extends layout

block mainContent
    div
        if crud === "Update"
            h1 #{crud} Blog Post 
            form(id="form" action="updatePost" method="post")
                div 
                    label(for="title-name") Title:
                    input(type="text" id="title-name" name="title" value=`${blog.title}`)
                div#editor 
                script.
                    window.__DELTA__ = !{JSON.stringify(blog.body)}
                input(id="createdDate" name="createdAt" type="hidden" value=`${blog.createdAt}` readonly)
            
                input(id="updatedDate" name="updatedAt" type="hidden" value=`${blog.updatedAt}`)

                input(name="_id" type="hidden" value=`${blog._id}`)

                input(type="submit")

        else
            h1 #{crud} Blog Post 
            form(id="form" action="createPost" method="post")
                div 
                    label(for="title-name" class="mb-2") Title:
                    input(type="text" id="title-name" name="title")
                    
                div#editor

                input(id="createdDate" name="createdAt" type="hidden")
            
                input(id="updatedDate" name="updatedAt" type="hidden")

                input(type="submit")