extends layout 

block mainContent 
    h1 Skills
    a(href="/admin/skills/create") 
        p  Create Skill
    each skill in skills
        div(class="border mb-2 p-2")
            h2 #{skill.title}
            img(src=`/img/skills/${skill.image}` width="100" alt="Im")
            p #{skill.body}
            p #{skill.createdAt}
            form(action="skills/delete" method="get")
                input(type="hidden" name="_id" value=`${skill._id}`)
                input(type="submit" value="Delete")
            form(action="skills/update" method="post") 
                input(type="hidden" name="_id" value=`${skill._id}`)
                input(type="submit" value="Update")